@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
$primary: #4d5198;
$accents: #ff93cc;
$darkGray: #292e33;
$white: #fff;
$lightGray: lightgray;
$fontFamily: 'Montserrat',
sans-serif;
$fontSize: 16px;
$padding: 70px 0;
$transition: .3s ease;
$boxShadow: 0 0 10px $lightGray;

/**** mixins ****/

@mixin flex ($justify,
$align,
$direction,
$wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin btn {
    padding: 15px 30px;
    background: transparent;
    border: 2px solid $white;
    color: $white;
    font-size: 1rem;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:hover {
        cursor: pointer;
        background: $white;
        color: $darkGray;
        transition: $transition;
    }
}

@mixin bgImg($height) {
    background-position: center;
    background-size: cover;
    height: $height;
}


/**** basic styles ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $darkGray;
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    &:hover {
        transition: $transition;
    }
}

ul {
    list-style: none;
}


/**** topBar ****/

.topBar {
    background: $darkGray;
    padding: 7px 0;
    color: $white;
    .container {
        @include flex(space-between,
        center,
        row,
        wrap);
        i {
            color: $accents;
        }
        .icons {
            i {
                margin-left: 10px;
                &:hover {
                    color: $white;
                    transition: $transition;
                }
            }
        }
    }
}


/**** nav ****/

nav {
    background: $white;
    .container {
        @include flex(space-between,
        center,
        row,
        wrap);
        padding: 10px 0;
        .logo {
            color: $accents;
            text-shadow: 1px 1px $darkGray;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 1px;
            &:hover {
                color: $darkGray;
                text-shadow: $accents;
            }
        }
        ul {
            @include flex(space-between,
            center,
            row,
            wrap);
            a {
                color: $darkGray;
                margin-left: 50px;
                font-weight: 700;
                text-transform: uppercase;
                &:hover {
                    color: $accents;
                }
            }
        }
    }
}


/***************
footer
***************/

footer {
    padding: $padding;
    background: $darkGray;
    color: $white;
    line-height: 1.7;
    .container {
        @include flex(space-between,
        flex-start,
        row,
        wrap);
        article {
            h3 {
                color: $accents;
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
            a {
                color: $lightGray;
                &:hover {
                    color: $accents;
                }
            }
            input[type='email'] {
                @include btn;
                &:hover {
                    cursor: auto;
                }
            }
            input[type='submit'] {
                @include btn;
            }
        }
        article:nth-child(1) {
            flex: 0 0 39%;
        }
        article:nth-child(2) {
            flex: 0 0 15%;
        }
        article:nth-child(3) {
            flex: 0 0 39%;
        }
    }
}

.mainHeader {
    background-image: url(../img/header.jpg);
    @include bgImg(80vh);
    @include flex(center,
    center,
    column,
    wrap);
    color: $white;
    h1 {
        font-size: 5rem;
        text-shadow: 0 0 1px $darkGray;
    }
    p {
        font-size: 1.5rem;
        opacity: 0.8;
    }
    button {
        @include btn;
    }
}